#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    scenes: []

extensions:
    djktTheater: DJKT\Backstage\Modules\TheaterModule\TheaterExtension
    djktRating: DJKT\Backstage\Modules\RatingModule\RatingExtension

djktTheater:
    scenes: %appDir%/config/theaterScenes.config.neon

djktRating:
    flavourTexts:
        1:
            - "Přejeme vám v budoucnu více štěstí při výběru představení"
            - "Mrzí nás, že se rozešlo naše představení s vaším očekáváním"
        3:
            - "Možná lze dílo interpretovat jiným způsobem"
        4:
            - "Děkujeme :)"
            - "Rádi se s vámi znovu uvidíme"
        5:
            - "Vivat divadlo!"
            - "Přijďte se na nás brzy podívat znovu"
            - "Těšíme se na vaši další návštěvu"


php:
	date.timezone: Europe/Prague


application:
	catchExceptions: %productionMode%
	errorPresenter: Common:Error
	mapping:
		*: DJKT\Backstage\Modules\*Module\Presenters\*Presenter

services:
    router: DJKT\Backstage\Routing\RouterFactory::create()

    restClient:
         class: GuzzleHttp\Client
         arguments:
             config:
                 base_uri: %ratingsApiBaseUrl%

    restAdapter: DJKT\Backstage\Modules\CommonModule\Rest\RestAdapter(@restClient)
