$ratingBtnSize: 200px;

#rating-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-prompt {
  margin-bottom: 4em;
}
.play-prompt {
  font-size: 2.8em;
  color: #BBB;
}
.play-caption {
  font-size: 3.5em;
  color: #FFF;
}
.play-caption::before {
  content: '  ';
}

.card-rating {
  background-color: rgba(42, 42, 42, 0.85);
  > .card-body {
    margin: 2em 2em 4em;
  }
}

#rating-area {
  height: $ratingBtnSize;
  overflow: hidden;

  transition: padding-top 0.1s;

  .rating-thanks {
    height: $ratingBtnSize;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: #FFF;
    background: rgba(42, 42, 42, 0.75);
    font-size: 2em;
  }
}

.rating-buttons {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: transparent;
}

.rating-btn {
  display: block;
  width: $ratingBtnSize;
  height: $ratingBtnSize;

  border: 2px solid dimgray;

  padding: 0.8em;
  border-radius: 120px;
}

@for $i from 1 through 5 {
  .rating-btn-#{$i} {
    background: url('/img/feedback/#{$i}.png') center no-repeat, rgba(100, 100, 100, 0.6);
    background-size: contain;
    background-origin: content-box;
  }
}

