$ratingBtnSize: 166px;

.rating-prompt {
  margin-bottom: 2em;
}
.play-prompt {
  font-size: 3em;
  color: #BBB;
}
.play-caption {
  font-size: 3.5em;
  color: #FFF;
}

.rating-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rating-btn {
  display: block;
  width: $ratingBtnSize;
  height: $ratingBtnSize;

  padding: 0.40em;
  border-radius: 10px;
}

@for $i from 1 through 5 {
  .rating-btn-#{$i} {
    background: url('/img/feedback/#{$i}.png') center no-repeat;
    background-size: contain;
    background-origin: content-box;
  }
}

