<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{$basePath}/dist/css/djktBootstrap.css">

    <title>Hello, world!</title>
</head>
<body>
<div id="body-wrapper">
    {include '_navbar.latte'}
    <div class="container-fluid" id="content-body">
        {include #content}
    </div>
</div>
<div id="toasts"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{$basePath}/vendor/js/jquery.min.js"></script>
<script src="{$basePath}/vendor/js/bootstrap.bundle.min.js"></script>
<script src="{$basePath}/vendor/js/nette.ajax.js"></script>
<script src="{$basePath}/dist/js/nette.alert.js"></script>
<script type="text/javascript">
    $(function () {
        $.nette.init();
    });
</script>
</body>
</html>